body {
    font-family: 'Gideon Roman', cursive;
    color: $brown;
}

// NAVIGATION

nav ul {
    font-family: 'Metamorphous', cursive;
    text-align: center;
}

#partyHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Metamorphous', cursive;
}

// HEADERS

h1 {
    font-family: 'Metamorphous', cursive;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

h4 {
    margin-bottom: 0;
}

// PARAGRAPHS

p {
    margin-bottom: 1em;
}

p:first-of-type:first-letter {
    float: left;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 0.95em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    font-family: 'Metamorphous', cursive;
    font-weight: bold;
}

// LINKS

a, a:visited {
    text-decoration: none;
    color: $brown;
    font-weight: bold;
}

// ERRORS

.loginError {
    color: $error;
    height: 1em;
    margin-bottom: -0.5em;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s
}

.visible {
    opacity: 1;
}