.flexColumn {
    @include flexColumn;
}

.flexRow {
    @include flexColumn;
    flex-direction: row;
}

.divider {
    width: 95%;
    height: 2px;
    background-color: $brown;
    margin: 1em 0 2em;
}