body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Menu base styles: */

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
}

nav a.hover {
    backgrond-color: #555;
}

/* Flex for large screens */
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }
}