* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}

.content {
    position: relative;
    min-height: 2000px;
    padding: 30px 100px;
    border: 1px solid #000;
}

/* Menu base styles: */

nav {
    background: #000;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #ddd;
    display: block;
    padding: 10px;
    font-family: sofia;
}

nav a:hover {
    color: #fff;
}

/* Flex for large screens */
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }
}