* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/vecteezy_drawing-cartoon-art-of-wood-texture-pattern-landscape-eps10_.jpg);
    background-size: fill;
}

/* FONTS */
body {
    font-family: 'Gideon Roman', cursive;
}

nav {
    font-family: 'Metamorphous', cursive;    
}

a, a:visited {
    text-decoration: none;
    color: #000;
}

p:first-child:first-letter {
    float: left;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 0.95em;
    padding-right: 0.1em;
    padding-left: 0.1em;
}

/* GRID BASE (mobile layout) */
#grid-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: 
    'h h h'
    'l m r'
    'f f f';
    max-width: 720px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {grid-area: h;}
main {grid-area: m;}
footer {grid-area: f;}
.border {grid-area: r;}
.border.L {grid-area: l;}

/* AREA STYLING */
header, footer {
    height: 50px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background: url(img/header-shadow.png), url(img/mkwt.jpg);
    background-size: cover, cover;
    background-position-y: bottom, center;
    z-index: 1;
    -webkit-box-shadow: 10px 20px 0px 0px #00000033;
    -moz-box-shadow: 10px 20px 0px 0px #00000033;
    box-shadow: 10px 20px 0px 0px #00000033;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    max-height: 0px;
    min-height: 75vh;
    overflow: hidden;
    animation: open 20s ease 1 forwards;
    animation-delay: 0.4s;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

article {
    min-height: 100px;
    padding-bottom: 50px;
    margin: 5px 20px;
}

.border {
    background: url(img/scroll-side.png);
    background-position: right;
    background-repeat: repeat-y;
    background-position-x: left;

}

.border.L {
    transform: rotate(180deg);
}

/* NAV */

nav {
    margin: 5px 20px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

nav a, nav a:visited {
    font-weight: bold;
}

/* SCROLL ANIMATION */

@keyframes open {
    0% {max-height: 0px;}
    100% {max-height: 99999px;}
}

/* MEDIA */

@media screen and (min-width: 700px) {
    #grid-container {
        grid-template-columns: 30px 1fr 30px;
    }

    header, footer {
        height: 70px;
        border: 3px solid #000;
    }

    main {
        flex-direction: row;
        padding-right: 30px;
    }

    nav ul {
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 0;
    }

    article, nav {
        margin-top: 25px;
    }
}