@import "./shared/colors";
@import "./shared/fonts";
@import "./shared/mixins";
@import "./shared/inputs";

@import "./specific/scroll";
@import "./specific/credits";
@import "./specific/login";
@import "./specific/navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/wood.jpg");
  background-size: fill;
}