@charset "UTF-8";
body {
  font-family: "Gideon Roman", cursive;
  color: #5d534d;
}

nav ul {
  font-family: "Metamorphous", cursive;
  text-align: center;
}

#partyHeader {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Metamorphous", cursive;
}

h1 {
  font-family: "Metamorphous", cursive;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1em;
}

p:first-of-type:first-letter {
  float: left;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 0.95em;
  padding-right: 0.1em;
  padding-left: 0.1em;
  font-family: "Metamorphous", cursive;
  font-weight: bold;
}

a, a:visited {
  text-decoration: none;
  color: #5d534d;
  font-weight: bold;
}

.login {
  background: #fcf8f4;
}
.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login input:-webkit-autofill::first-line,
.login textarea:-webkit-autofill,
.login textarea:-webkit-autofill:hover,
.login textarea:-webkit-autofill:focus,
.login select:-webkit-autofill,
.login select:-webkit-autofill:hover,
.login select:-webkit-autofill:focus {
  background: #fcf8f4;
  -webkit-text-fill-color: #5d534d;
  -webkit-box-shadow: 0 0 0px 1000px #fcf8f4 inset;
}

#scroll {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "h" "m" "f";
  max-width: 720px;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 7px;
}
#scroll header {
  grid-area: h;
}
#scroll main {
  grid-area: m;
}
#scroll footer {
  grid-area: f;
}
#scroll nav {
  grid-area: n;
}
#scroll section {
  grid-area: s;
}
#scroll #credits {
  grid-area: c;
}
#scroll #partyHeader {
  grid-area: p;
}
#scroll main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "p" "n" "s" "c";
  row-gap: 10px;
  width: 100%;
  min-height: calc(80vh - 14px);
  margin: 0 auto;
  padding: 10px 45px 0;
  background: url("./../img/scroll-side-R.png"), url("./../img/scroll-side-L.png");
  background-size: fill, fill;
  background-position: right, left;
  background-repeat: repeat-y, repeat-y;
}
#scroll section {
  min-height: 100px;
  padding-bottom: 50px;
}
#scroll #credits {
  max-height: 1em;
}
#scroll header,
#scroll footer {
  width: calc(100vw - 14px);
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 475px) {
  #scroll main {
    background: url("./../img/scroll-side-R.png"), url("./../img/scroll-side-L.png"), url("./../img/scroll-center.png");
    background-size: fill, fill, fill;
    background-position: right, left, center;
    background-repeat: repeat-y, repeat-y, repeat-y;
  }
}
@media screen and (min-width: 700px) {
  #scroll header,
#scroll footer {
    height: 70px;
    width: initial;
    margin: initial;
  }
  #scroll main {
    grid-template-columns: 120px 1fr;
    grid-template-rows: 2em 1fr 1.1em;
    grid-template-areas: "p p" "n s" "c c";
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-height: calc(100vh - 154px);
  }
  #scroll nav ul {
    width: 100%;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
  }
  #scroll nav ul::before {
    position: initial;
    content: "†";
    transform: rotate(180deg);
    font-size: 1.5em;
  }
  #scroll nav ul::after {
    position: initial;
    content: "†";
    font-size: 1.5em;
    transform: none;
  }
}

#credits {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/wood.jpg");
  background-size: fill;
}/*# sourceMappingURL=style.css.map */