.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;

  @media screen and (min-width: 700px) {
    padding-right: 140px;
  }
}

.auth {
  margin-top: 1em;
  margin-bottom: 1em;
}

.loginAnnotations {
  margin-bottom: 0.5em;
}